/* !--
Name: A Ali
File: Style.css
Date: 26 Feb 2026
A .css file for week 5 assignment "CSS style".
-- */

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefefef;
  margin: 0 auto;
}

h1 {
	color: darkslategray;
	border-bottom: 10px dotted purple;
	font-size: 2rem;
}

h2 {
	font-style: italic;
	font-size: 1.5rem;
}

.job-title {
	color: darkslategray;
	font-weight: bold;
}

ul {
	background-color: white;
	border: 5px solid purple;
	padding: 30px;
	border-radius: 20px;
}

	a {
		color: green;
	}
	
	a:hover,
	a:focus {
		color: darkgreen;
		text-decoration: none
	}
	